.idea
*.iml

.gradle
/local.properties
.DS_Store
/build
collector-theoplayer/build/
/captures
.externalNativeBuild
bitmovin.properties

*.exec
collector-exoplayer-example/src/main/java/com/bitmovin/analytics/example/shared/Samples.kt

